:root {
    font-size: 0.9em;
}
.header-container {
    background-color: #120323;
    color: #97bf04;
    padding: 20px;
}

h2 {
    color: #120323;
}

body {
    font-family: sans-serif;
    margin: 0;
    font-weight: 300;
}

figure img {
    border: 5px solid;
    border-color: #d9043d;
}

aside {
    background-color: #97bf04;
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #d9043d;
    padding: 30px;
    text-align: center;
    color: white;
}

/* media queries */

@media (max-width:767px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   figure img {
    max-width: 100%;
   }
}

@media (max-width:999px) and (min-width:768px) {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    figure {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    aside {
        max-width: 100%;
    }
    img {
        max-width: 300px;
        height: auto;
    }
}

@media (min-width:1000px) {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-start;
    }
    main {
        flex: 1;
    }
    figure {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 30px;
        padding: 10px;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    img {
        max-width: 300px;
        height: auto;
    }
    h2 {
        margin-top: 0;
    }
    aside {
        width: 300px;
        margin-top: 20px;
    }
}