.header-container {
    background-color: #120323;
    color: #97bf04;
    padding: 20px;
}

h2 {
    color: #120323;
}

body {
    font-family: sans-serif;
    margin: 0;
}

figure img {
    border: 5px solid;
    border-color: #d9043d;
}

aside {
    background-color: #97bf04;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #d9043d;
    padding: 10px;
    text-align: center;
}

@media (max-width:768px) {
    .header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   img {
    padding: 30px;
    max-width: 100%;
   }
}

@media (max-width:999px) and (min-width:769px) {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    figure {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    aside {
        max-width: 100%;
    }
    img {
        max-width: 300px;
    }
}

@media (min-width:1000px) {
    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    figure {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    img {
        max-width: 300px;
    }
    aside {
        
    }
}